---
layout: default
---

<div class="home">

  <h1 class="page-heading">New Conferences</h1>

  <table>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th>Days</th>
      <th>Country</th>
      <th>City</th>
      <th>Website</th>
      <th>Location</th>
    </tr>
    {% for post in site.posts %}
      <tr>
        <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
        <td>{{post.startdate | date: "%b %-d" }}</td>
        <td>{{post.numberOfDays}}</td>
        <td>{{post.country}}</td>
        <td>{{post.city}}</td>
        <td><a href="{{ post.website }}" target="_blank">web</a></td>
        <td>
          <a href="{{ post.location }}" target="_blank">Google maps</a>
        </td>

    {% endfor %}
  </table>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
        {{post.categories}}
        </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
