---
layout: default
---

<div class="home">

  <h1 class="page-heading">2016</h1>

  <table>
    <tr>
      <th>Title</th>
      <th>Start date</th>
      <th>Days</th>
      <th>City</th>
      <th>Location</th>
      <th>Videos</th>
      <th>Website</th>
    </tr>
    {% assign sorted_pages = (site.posts | sort: 'startdate') %}
    {% for post in sorted_pages %}
      <tr>
        <td><a href="{{ post.website }}">{{ post.title }}</a></td>
        <meta itemprop="startDate" content="2016-04-21T20:00">
        <td>{{post.startdate | date: "%b %-d" }}</td>
        <td>{{post.numberOfDays}}</td>
        <td>{{post.city}}</td>
        <td>  <a href="{{ post.location }}" target="_blank">Maps</a>
        </td>
        <td>
          {% if post.videos != null %}
            <a href="{{ post.videos }}" target="_blank">Videos</a>
          {% endif %}
        </td>
        <td><a href="{{ post.website }}" target="_blank" itemprop="url">web</a></td>

    {% endfor %}
  </table>
</div>
